<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NEW</title>
</head>

<body>
    <h1>Add Product Form!!</h1>
    <form action="/products" method="post">
        <div>
            <label for="id1">Product Name:</label>
            <input type="text" name="name" id="id1" placeholder="product name">
        </div>
        <div>
            <label for="id2">Price :</label>
            <input type="number" name="price" id="id2" min="0" placeholder="product price">
        </div>
        <div>
            <label for="id3">Select Category:</label>
            <select name="category" id="id3">
                <% for(let category of categories){ %>
                    <option value="<%= category %>"><%= category %></option>
                <% } %>
            </select>
        </div>
        <button type="submit">Submit</button>
    </form>
</body>

</html>