<%- include('partials/header') %>
<%- include('partials/navbar') %>
    <h1>Home Page !</h1>
    <p>
        Lorem ipsum <%= "hey bro whts up in here ?" .toUpperCase() %> dolor, sit amet consectetur adipisicing elit.
            Harum
            labore fugit cupiditate non facere minima maxime
            alias beatae provident! Maiores accusantium totam excepturi sint! Vitae inventore quam cupiditate error
            modi!Lorem Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio exercitationem aperiam
            voluptates! Obcaecati temporibus repellat, autem eos aperiam deserunt cumque sint, non eaque at,
            perspiciatis
            voluptatem laborum nesciunt? Quos, placeat!
    </p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error tempore modi ipsam aliquid pariatur quidem itaque,
        corporis cupiditate debitis, nostrum incidunt fuga minus perferendis repellendus numquam, labore vel. Libero,
        facere.
    </p>
<%-include('partials/footer')%>