img{
    width: 30%;
    /* margin: 1.666%; */
    margin: calc(10%/6);
}
nav{
    width:30%;
    margin-left: calc(10%/6);
    border-bottom: #f1f1f1 solid 1px;
    padding: 1.5em 0;
    font-family: raleway,sans-serif;
    text-transform: uppercase;
    font-size: 1.2em;
}